html , body {
    margin: 0px;
    padding: 0px;
    
}

#left{
    height: 110vh;
    background-color: rgb(252, 231, 186)
}

#right{
    height: 110vh;
    
    background-color: rgb(50, 117, 156);
}

.right-child{
    margin-top: 1000px;
}

#main-icon{
    width: 160px;
    height: 140px;
    margin-left: 230px;
    margin-top: 190px;
    margin-bottom: 0px;
   
    
}

#condition{
    width: 70px;
    height: 70px;
    margin-left: 270px;
    margin-top: 40px;
    margin-bottom: 0px;
}

#exceptional{
    color: rgb(212, 70, 45); 
}


.master-history{
    display: none !important;
}

#master-history{
    display: none ;
}

